@model IEnumerable<CategoryDTO>
@{
    ViewData["Title"] = "Categories list:";
}
<h2>@ViewData["Title"]</h2>

@foreach (var category in Model)
{
    <div class="row">
        <div class="col-md-auto">
            <div>
                <img src="@Url.Action("GetImage", new { id=category.CategoryID})" style="width:63px;height:63px;" />
            </div>
            <div>
                <image-link id="@category.CategoryID" text="Show image"/>
                <a asp-action="EditImage" asp-route-id="@category.CategoryID">Edit image</a>
            </div>
        </div>
        <div class="col-lg-auto">
            <dl>
                <dt>@category.CategoryName</dt>
                <dd>• @category.Description</dd>
            </dl>
        </div>
    </div>
}
